body{
  margin: 0;
}
.all-body{
  overflow-y: auto;
  width: 370px;
  height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0px;
  height:55px;
  display: flex;
  justify-content: space-between;
  background-color: #f7296e;
  z-index: 5;
  align-items: center;
  border:solid 2px #f7296e;
}
.header p{
  margin-left:10%;
  color:white;
  font-size: 22px;
  font-weight: bold;
}
#nav-toggle{
  margin-right: 10%;
  cursor: pointer;
}
#nav-toggle div{
  width:30px;
  border: 1px solid white;
  margin-bottom: 10px;
}

#header-options{
  position:fixed;
  top:55px;
  background: #f7296e;
  width: 100%;
  z-index:3;
  font-size: 20px;
  animation-fill-mode: forwards;
}
#header-options p{
  color: white;
  font-weight: normal;
  margin-left: 10%;
  cursor: pointer;
}
.open-nav{
  animation-duration: 500ms;
  animation-name:openNav;
}
@keyframes openNav{
  0%{
    transform:translateY(-100%);
  }
  100%{
    transform: translateY(0)
  }
}
.close-nav{
  animation-duration: 500ms;
  animation-name: closeNav;
}
@keyframes closeNav{
  0%{
    transform:translateY(0)
  }

  100%{
    transform: translateY(-100%)
  }
}

#add-books-section{
  width:90%;
  text-align: center;
  margin:70px auto 0;
}
#add-books-section input{
  padding-left:20px;
  width: 35%;
  margin:0 auto;
  border: 2px solid #ccc;
  font-weight: bold;
  color:black;
  height: 40px;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}
#add-books-section button{
  width:80px;
  color:white;
  height: 40px;
  background: #f7296e;
  border-radius: 10px;
  border: 2px solid #f7296e;
  font-weight: bold;
}
#list-books-section{
  text-align: center;
}
.book{
  margin: 0 auto;
  width: 50%;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
  border:solid 2px #f7296e;
}
.book p{
  width:90%;
  text-align: center;
  word-wrap: break-word;
}

.loader,
.loader:before,
.loader:after {
  background: #f7296e;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
